<div class="onboarding-wizard-mini-informer" id="wizard-mini-status">
  <div class="progress-circle" data-value="{{ this.getCurrentProgress() / 100.0 }}"></div>
  <div class="progress-status">
    <div class="status-message">{{ this.getStatusMessage() }}</div>
    {{ widget('XLite\\View\\Button\\SimpleLink', label=t(this.getButtonLabel()), location=this.getWizardUrl(), attributes={'data-progress': this.getCurrentProgress()}) }}
  </div>
</div>