{##
 # Regular link
 #}

<a {{ this.printTagAttributes(this.getAttributes())|raw }}>
  <i class="svg-icon">{{ svg('modules/XC/Onboarding/images/play.svg') | raw }}</i>
  <span class="text">
    <span class="blue">{{ t('Customize your store with Layout Editor option') }}</span>
    <span class="gray">{{ t('(without writing a single line of code) - 2 min') }}</span>
  </span>
</a>