{##
 # Actions
 #
 # @ListChild (list="itemsList.module.install.columns.module-main-section", weight="30")
 # @ListChild (list="itemsList.module.sales-channels.columns.module-main-section", weight="30")
 # @ListChild (list="itemsList.module.purchased.columns.module-main-section", weight="30")
 #}
<div class="actions">
  {{ widget_list('actions', type='nested', module=this.module, canEnable=this.canEnable(this.module, 1), canDisable=this.canDisable(this.module, 1)) }}
</div>
