{##
 # Module wrong dependencies
 #
 # @ListChild (list="itemsList.module.manage.columns.module-description-section.messages.cannot_enable", weight="100")
 # @ListChild (list="itemsList.module.install.columns.module-description-section.cannot_enable", weight="100")
 # @ListChild (list="itemsList.module.sales-channels.columns.module-description-section.cannot_enable", weight="100")
 # @ListChild (list="itemsList.module.purchased.columns.module-description-section.cannot_enable", weight="100")
 #}
{% if this.hasWrongDependencies(this.module) %}
  <div class="note dependencies">
    {{ widget_list('dependencies', type='nested', module=this.module) }}
  </div>
{% endif %}
