{##
 # Marketplace banner
 #}
<div id="marketplaceBanners" class="top-controls banner carousel slide" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    {% for banner in this.getBanners() %}
      <li data-target="#marketplaceBanners" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for banner in this.getBanners() %}
      <div class="item{% if loop.first %} active{% endif %}">
        <a class="module-link" href="{{ this.getBannerURL(banner) }}" {% if this.isBannerExternalURL(banner) %}target="_blank"{% endif %}><img class="module-image" src="{{ this.getBannerImg(banner) }}" alt="" /></a>
      </div>
    {% endfor %}
  </div>
</div>
<div class="clear"></div>
