{##
 # Modules list
 #
 # @ListChild (list="sales-channels.top-controls", weight="500")
 #}
<div class="sales-channel-footer">
  <a href="{{ this.buildURL('addons_list_marketplace') }}">{{ t('View more addons in Marketplace') }}</a>
</div>