{##
 # Layout editor panel
 #
 # @ListChild(list="themetweaker-panel-extensions", weight="100")
 #}

<div class="themetweaker-panel-shortcut" v-show="!isExpanded" @click="showPanel" tabindex="-1">
  {{ this.displaySVGImage('modules/XC/ThemeTweaker/themetweaker_panel/icons/settings.svg') }}
</div>