{##
 # Header notice
 #}
<div class="activate-notice">

  <span class="trial-notice">
    {% if this.getTrialPeriodLeft() > 0 %}
      {{ t('Your access to X-Cart Business features expires in X days', {count: this.getTrialPeriodLeft(), url: this.buildUrl('activate_free_license', '', {page: 'business_view'})})|raw }}
    {% else %}
      {{ t('Trial has expired!') }}
    {% endif %}
  </span>

  {{ widget('XLite\\View\\Button\\ActivateKey', label=t('Activate license key')) }}

  {% if this.isTrialNoticeAutoDisplay() %}
    {{ widget('XLite\\View\\Button\\TrialNotice') }}
  {% endif %}
</div>
