{##
 # Export completed section
 #}

<div class="export-box export-completed-popup">

  <p class="export-completed-message">
      {{ this.getCompleteMessage()|raw }}
  </p>

  <div class="content">
    {{ widget('XLite\\View\\Export\\Download', popupContext='true') }}
  </div>

</div>

