{##
 # Dependencies list
 #
 # @ListChild (list="itemsList.module.manage.columns.module-description-section.messages.cannot_enable.dependencies", weight="400")
 # @ListChild (list="itemsList.module.install.columns.module-description-section.cannot_enable.dependencies", weight="400")
 # @ListChild (list="itemsList.module.sales-channels.columns.module-description-section.cannot_enable.dependencies", weight="400")
 # @ListChild (list="itemsList.module.purchased.columns.module-description-section.cannot_enable.dependencies", weight="400")
 #}
{% if this.getEnabledMutualModules(this.module) %}
  <ul>
    {% for depend in this.getEnabledMutualModules(this.module) %}
      <li>
        {{ widget_list('details', type='nested', depend=depend) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
