{##
 # Cloud zoom switcher
 #
 # @ListChild (list="images_settings", weight="40")
 #}

{% if this.isCloudZoomAllowed() %}
<div class="cloud-zoom-switch">
    {{ widget('XLite\\View\\FormField\\Input\\Checkbox\\OnOff', label='Cloud Zoom', fieldName='cloud_zoom', value=this.getCloudZoomEnabled()) }}
</div>
{% endif %}
