{##
 # Layout editor panel
 #}

<xlite-layout-editor inline-template>
    <div id="layout-editor-panel" class="layout-editor--initial themetweaker-sections" :class="panelClasses">
        {{ widget_list('layout_editor') }}
    </div>
</xlite-layout-editor>
